<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jretty.server.app"
    android:installLocation="auto"
    android:versionCode="1000"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:multiprocess="false"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditorPreferenceActivity"
            android:theme="@style/Theme.IJetty" />
        <activity
            android:name=".DownloaderActivity"
            android:theme="@style/Theme.IJetty" />
        <activity
            android:name=".SdCardUnavailableActivity"
            android:theme="@style/Theme.IJetty" />

        <service android:name=".JrettyServerService" />
    </application>

</manifest>